.container{
    margin: 10px auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: cadetblue;
}
.storage{
    height: 500px;
    width: 100% ;
    overflow: hidden ;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 40%;
    height: 100px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    background-color: blue;
}
.slider{
    height: 100%;
    width: 600%;
    display: flex;
    transition:all 1s;
}
.slider section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider> section> img{
    width: 100%;
    height: 100%;
}
